<div class="inst-container mat-typography">

  <h1>Welcome to Twitter Analysis</h1>

  <div>
    This App uses the following technologies, to analyze the latest Tweets of certain topics:
  </div>

  <ul>
    <li>Apache Kafka</li>
    <li>KSQL</li>
    <li>KSQL REST Client</li>
    <li><a href="https://github.com/jcustenborder/kafka-connect-twitter" target="_blank">Kafka Connect Twitter</a></li>
    <li>Express for serverside routing</li>
    <li>Angular 6 Client</li>
    <li>HTTP and WebSocket communication between server and client</li>
  </ul>

  Using three different Kafka Topics/Streams, the top tweeting users and most used hashtags are displayed.
  Additionally each Topic contains a feed with the newest tweets.

  Please follow the steps specified in the
  <a href="https://github.com/Kev1n337/kafka-twitter" target="_blank">repository's README</a>
  to get the app running on your machine.
</div>
